/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Styles */

/* Races Page */

body {
	font-size: 1em;
}

.lane {
    width: 100%;
    overflow: hidden;
    background: url(../images/grass.jpg) repeat;
}

.lane > div {
    position: relative;
    float: left;
}

.horseArea > img {
    position: relative;
}

.colorbar {
	float: left;
	background: rgba(0,0,0,0.5);
}

.finish {
    position: relative;
    float: left;
    z-index: 1;
}

.candidate img,
.fullname {
	float: left;
}

.candidate img {
	border-right: 3px solid #60713c;
}

.fullname {
	color: #fff;
	font-family: arial, sans-serif;
	font-size: 120%;
	word-wrap:break-word;
	text-align: center;
	line-height: 1.5em;
	padding-top: 1em;
}

.spacer {
    width: 100%;
    min-height: 10px !important;
    background: #c69c6d;
}

/* Form Page */

#wrapper {
	width: 970px;
	min-height: 1024px;
	margin: 0 auto;
	padding-bottom: 150px;
	overflow: hidden;
	background: url(../images/form/footer-image.jpg) no-repeat bottom center;
}

#wrapper > div.region.region-content {
	margin: 35px 40px 0;
}

#header {
	width: 100%;
}

#header img {
	display: block;
	margin: 0 auto;
}

#node-1 > div.content {
	background: #e6e4dc;
	border-radius: 20px;
	border: 3px solid #dedad0;
	padding: 20px;
}

#node-1 > div.submitted {
	display: none;
}

#node-1 > div.content > div {
	display: none;
}

#edit-submitted-candidate > div.form-item-submitted-candidate {
	float: left;
	height: 180px;
	width: 100px;
	overflow: hidden;
	margin-right: 5px;
}

#webform-component-first-name {
	clear: both;
}

#webform-component-candidate .form-item input[type="radio"] {
	position: absolute;
	left: -9999px;
}

.compact-form-wrapper {
	position: relative;
}

.compact-form-label {
	position: absolute;
	top: 13px;
	left: 15px;
	color: #fff;
	font-family: "Arial", sans-serif;
}

.form-item, .form-actions {
	margin: 0;
}

input[type="text"], input[type="email"] {
	border: 0;
	width: 185px;
	height: 40px;
	padding-left: 15px;
	background: #aeada8;
	color: #fff;
	-webkit-appearance: none;
    border-radius: 0;
}

.form-item input.error {
	width: 181px;
	height: 36px;
}

#webform-component-form-wrap {
	overflow: hidden;
	position: relative;
	width: 800px;
	padding-right: 100px;
	margin: 0 auto;
}

#webform-component-form-wrap .webform-component {
	float: left;
	color: #101f52;
	margin-right: 10px;
}

#webform-component-form-wrap--first-name,
#webform-component-form-wrap--last-name {
	margin-bottom: 10px;
}

#webform-component-form-wrap--cast-your-vote {
	font-size: 35px;
	height: 95px;
	line-height: 95px;
	margin-right: 20px !important;
}

#edit-actions {
	position: relative;
	top: -100px;
	left: 680px;
}

#edit-submit {
	display: block;
	width: 170px;
	height: 100px;
	padding: 0 35px;
	border: 0;
	background: #88302d;
	-webkit-appearance: none;
	border-radius: 0;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
	word-wrap: break-word;
}

.active {
	/* border: 1px solid red; */
	background: rgba(0,0,0,0.5);
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
 	#wrapper {
 		padding-bottom: 475px;
 	}
}

